<div class="form-group row mb-1">
    <div class="col-5">
        <span [translate]="'Students.StudentID'"></span>
    </div>
    <div class="col-7 text-dark">
        <span>{{student?.studentIdentifier}}</span>
    </div>
</div>
<div class="form-group row mb-1">
    <div class="col-5">
        <span [translate]="'Students.Semester'"></span>
    </div>
    <div class="col-7 text-dark">
        <span>{{student?.semester}}</span>
    </div>
</div>
<div class="form-group row mb-1">
    <div class="col-5">
        <span [translate]="'Students.Department'"></span>
    </div>
    <div class="col-7 text-dark">
        <span>{{student?.department?.abbreviation}}</span>
    </div>
</div>
<div class="form-group row mb-1">
    <div class="col-5">
        <span [translate]="'Students.studyProgram'"></span>
    </div>
    <div class="col-7 text-dark">
        <span>{{student?.studyProgram?.abbreviation}}</span>
    </div>
</div>
<div class="form-group row mb-1">
  <div class="col-5">
    <span [translate]="'Students.Specialty'"></span>
  </div>
  <div class="col-7 text-dark">
    <span>{{student?.studyProgramSpecialty?.abbreviation || student?.studyProgramSpecialty?.name}}</span>
  </div>
</div>
<div class="form-group row mb-1">
    <div class="col-5">
        <span [translate]="'Students.inscriptionYear'"></span>
    </div>
    <div class="col-7 text-dark">
        <span>{{student?.inscriptionYear?.alternateName}}
            {{'Periods.' + student?.inscriptionPeriod?.alternateName | translate}}</span>
    </div>
</div>
