<div class="row">
  <div class="col-md-12">
    <h4 class="mb-4">Theme Colors</h4>
    <div class="row" ng-controller="ThemeColorController as ctrl">
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4 theme-color">
        <div class="bg-primary w-75 rounded mb-2" style="padding-top:75%"></div>
        <h6>Primary Color</h6>
        <table class="w-100">
          <tbody>
          <tr>
            <td class="text-muted">Color :</td>
            <td class="text-muted">text-primary</td>
          </tr>
          <tr>
            <td class="text-muted">Background :</td>
            <td class="text-muted">bg-primary</td>
          </tr>
          <tr>
            <td class="text-muted">HEX:</td>
            <td class="font-weight-bold">{{ctrl.hexColor('.bg-primary')}}</td>
          </tr>
          <tr>
            <td class="text-muted">RGB:</td>
            <td>{{ctrl.rgbColor('.bg-primary')}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4 theme-color">
        <div class="bg-color bg-secondary w-75 rounded mb-2" style="padding-top:75%"></div>
        <h6>Secondary Color</h6>
        <table class="w-100">
          <tbody>
          <tr>
            <td class="text-muted">Color :</td>
            <td class="text-muted">text-secondary</td>
          </tr>
          <tr>
            <td class="text-muted">Background :</td>
            <td class="text-muted">bg-secondary</td>
          </tr>
          <tr>
            <td class="text-muted">HEX:</td>
            <td class="font-weight-bold">{{ctrl.hexColor('.bg-secondary')}}</td>
          </tr>
          <tr>
            <td class="text-muted">RGB:</td>
            <td>{{ctrl.rgbColor('.bg-secondary')}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4 theme-color">
        <div class="bg-success w-75 rounded mb-2" style="padding-top:75%"></div>
        <h6>Success Color</h6>
        <table class="w-100">
          <tbody>
          <tr>
            <td class="text-muted">Color :</td>
            <td class="text-muted">text-success</td>
          </tr>
          <tr>
            <td class="text-muted">Background :</td>
            <td class="text-muted">bg-success</td>
          </tr>
          <tr>
            <td class="text-muted">HEX:</td>
            <td class="font-weight-bold">{{ctrl.hexColor('.bg-success')}}</td>
          </tr>
          <tr>
            <td class="text-muted">RGB:</td>
            <td>{{ctrl.rgbColor('.bg-success')}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4 theme-color">
        <div class="bg-color bg-danger w-75 rounded mb-2" style="padding-top:75%"></div>
        <h6>Danger Color</h6>
        <table class="w-100">
          <tbody>
          <tr>
            <td class="text-muted">Color :</td>
            <td class="text-muted">text-danger</td>
          </tr>
          <tr>
            <td class="text-muted">Background :</td>
            <td class="text-muted">bg-danger</td>
          </tr>
          <tr>
            <td class="text-muted">HEX:</td>
            <td class="font-weight-bold">{{ctrl.hexColor('.bg-danger')}}</td>
          </tr>
          <tr>
            <td class="text-muted">RGB:</td>
            <td class="font-weight-bold">{{ctrl.rgbColor('.bg-danger')}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4 theme-color">
        <div class="bg-color bg-warning w-75 rounded mb-2" style="padding-top:75%"></div>
        <h6>Warning Color</h6>
        <table class="w-100">
          <tbody>
          <tr>
            <td class="text-muted">Color :</td>
            <td class="text-muted">text-warning</td>
          </tr>
          <tr>
            <td class="text-muted">Background :</td>
            <td class="text-muted">bg-warning</td>
          </tr>
          <tr>
            <td class="text-muted">HEX:</td>
            <td class="font-weight-bold">{{ctrl.hexColor('.bg-warning')}}</td>
          </tr>
          <tr>
            <td class="text-muted">RGB:</td>
            <td>{{ctrl.rgbColor('.bg-warning')}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4 theme-color">
        <div class="bg-color bg-info w-75 rounded mb-2" style="padding-top:75%"></div>
        <h6>Info Color</h6>
        <table class="w-100">
          <tbody>
          <tr>
            <td class="text-muted">Color :</td>
            <td class="text-muted">text-info</td>
          </tr>
          <tr>
            <td class="text-muted">Background :</td>
            <td class="text-muted">bg-info</td>
          </tr>
          <tr>
            <td class="text-muted">HEX:</td>
            <td class="font-weight-bold">{{ctrl.hexColor('.bg-info')}}</td>
          </tr>
          <tr>
            <td class="text-muted">RGB:</td>
            <td>{{ctrl.rgbColor('.bg-info')}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4 theme-color">
        <div class="bg-light w-75 rounded mb-2" style="padding-top:75%"></div>
        <h6>Info Color</h6>
        <table class="w-100">
          <tbody>
          <tr>
            <td class="text-muted">Color :</td>
            <td class="text-muted">text-light</td>
          </tr>
          <tr>
            <td class="text-muted">Background :</td>
            <td class="text-muted">bg-light</td>
          </tr>
          <tr>
            <td class="text-muted">HEX:</td>
            <td class="font-weight-bold">{{ctrl.hexColor('.bg-light')}}</td>
          </tr>
          <tr>
            <td class="text-muted">RGB:</td>
            <td>{{ctrl.rgbColor('.bg-light')}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4 theme-color">
        <div class="bg-dark w-75 rounded mb-2" style="padding-top:75%"></div>
        <h6>Dark Color</h6>
        <table class="w-100">
          <tbody>
          <tr>
            <td class="text-muted">Color :</td>
            <td class="text-muted">text-dark</td>
          </tr>
          <tr>
            <td class="text-muted">Background :</td>
            <td class="text-muted">bg-dark</td>
          </tr>
          <tr>
            <td class="text-muted">HEX:</td>
            <td class="font-weight-bold">{{ctrl.hexColor('.bg-dark')}}</td>
          </tr>
          <tr>
            <td class="text-muted">RGB:</td>
            <td>{{ctrl.rgbColor('.bg-dark')}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4 theme-color">
        <div class="w-75 rounded mb-2" style="background-color: #a4b7c1; padding-top:75%"></div>
        <h6>Placeholder Color</h6>
        <table class="w-100">
          <tbody>
          <tr>
            <td class="text-muted">Variable :</td>
            <td class="text-muted">$placeholdercolor</td>
          </tr>
          <tr>
            <td class="text-muted"></td>
            <td class="text-muted"></td>
          </tr>
          <tr>
            <td class="text-muted">HEX:</td>
            <td class="font-weight-bold">#a4b7c1</td>
          </tr>
          <tr>
            <td class="text-muted">RGB:</td>
            <td>rgb(164, 183, 193)</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4 theme-color">
        <div class="bg-gray-600 w-75 rounded mb-2" style="padding-top:75%"></div>
        <h6>Gray 600 Color</h6>
        <table class="w-100">
          <tbody>
          <tr>
            <td class="text-muted">Text :</td>
            <td class="text-muted">text-gray-600</td>
          </tr>
          <tr>
            <td class="text-muted">Background</td>
            <td class="text-muted">bg-gray-600</td>
          </tr>
          <tr>
            <td class="text-muted">HEX:</td>
            <td class="font-weight-bold">{{ctrl.hexColor('.bg-gray-600')}}</td>
          </tr>
          <tr>
            <td class="text-muted">RGB:</td>
            <td>{{ctrl.rgbColor('.bg-gray-600')}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4 theme-color">
        <div class="bg-gray-200 w-75 rounded mb-2" style="padding-top:75%"></div>
        <h6>Gray 200 Color</h6>
        <table class="w-100">
          <tbody>
          <tr>
            <td class="text-muted">Text :</td>
            <td class="text-muted">text-gray-200</td>
          </tr>
          <tr>
            <td class="text-muted">Background</td>
            <td class="text-muted">bg-gray-200</td>
          </tr>
          <tr>
            <td class="text-muted">HEX:</td>
            <td class="font-weight-bold">{{ctrl.hexColor('.bg-gray-200')}}</td>
          </tr>
          <tr>
            <td class="text-muted">RGB:</td>
            <td>{{ctrl.rgbColor('.bg-gray-200')}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4 theme-color">
        <div class="w-75 rounded mb-2" style="background-color: #2500dd; padding-top:75%"></div>
        <h6>Theme Color</h6>
        <table class="w-100">
          <tbody>
          <tr>
            <td class="text-muted">Variable :</td>
            <td class="text-muted">$color-theme</td>
          </tr>
          <tr>
            <td class="text-muted"></td>
            <td class="text-muted"></td>
          </tr>
          <tr>
            <td class="text-muted">HEX:</td>
            <td class="font-weight-bold">#2500dd</td>
          </tr>
          <tr>
            <td class="text-muted">RGB:</td>
            <td>rgb(37, 0, 221)</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


