<div class="card" *ngIf="data">
  <div class="card-body">
    <h4 class="card-title"> {{'Forms.GraduationRequestAction' | translate }}
      ({{data.graduationEvent?.graduationYear?.alternateName}}  {{data.graduationEvent?.graduationPeriod?.name}})</h4>
    <div>
      <h6 class="font-weight-normal">
        <span [translate]="'ExamPeriodParticipateActions.SubmittedAt'"></span>
        <span> {{data.startTime | date: 'short'}}</span>
      </h6>
    </div>
    <div class="row pt-2" *ngIf="data.graduationEvent">
      <div class="col-12">
        <span class="card-title">
           <a href="/#/graduations/{{data.graduationEvent.id}}/dashboard/requests">{{data.graduationEvent.name}}</a>
          </span>
      </div>
    </div>
    <div class="row" *ngIf="data.graduationEvent">
      <div class="col-12">
        <h6 class="font-weight-normal">
          <span [translate]="'GraduationRequestActions.EventDate'"></span>
          <span>  {{data.graduationEvent.startDate | date: 'short'}}</span>
        </h6>
      </div>
    </div>
  </div>
</div>
<div *ngIf="data && data.actionStatus.alternateName !== 'PotentialActionStatus'">

<div class="card" *ngIf="declaredActions && declaredActions.length>0">
  <div class="card-body">
    <h4 class="card-title" [translate]="'GraduationRequestActions.DeclareInfo'"></h4>
<div>
  <div class="flex-column" *ngFor="let declareAction of declaredActions">
        <div class="form-group row">
          <div class="col-3">
            <span class="text-secondary" [translate]="'Students.AcademicYear'"></span>
          </div>
          <div class="col-3">
            <span class="text-dark">{{ declareAction.declaredYear?.alternateName}}</span>
          </div>
        </div>
    <div class="form-group row">
          <div class="col-3">
            <span class="text-secondary" [translate]="'Students.AcademicPeriod'"></span>
          </div>
          <div class="col-3">
            <span class="text-dark">{{'Periods.' + declareAction.declaredPeriod?.alternateName | translate}}</span>
          </div>
    </div>
        <div class="form-group row pb-4">
          <div class="col-3">
            <span class="text-secondary" [translate]="'Students.GraduationGrade'"></span>
          </div>
          <div class="col-3">
            <h6 class="text-dark">{{ declareAction.graduationGradeAdjusted}}</h6>
          </div>
        </div>
        <div class="text-right"
             *ngIf="declareAction.actionStatus && declareAction.actionStatus.alternateName === 'ActiveActionStatus' && allowDeclare">
            <span class="pl-5">
                  <button type="button" class="btn btn-warning"
                          (click)="changeDeclareActionStatus(declareAction,'CancelledActionStatus')">
                    {{'GraduationRequestActions.CancelDeclareStudent' | translate }}</button>
              <span class="pl-3"></span>
              <button type="button" class="btn btn-indigo"
                         (click)="changeDeclareActionStatus(declareAction,'CompletedActionStatus')">
                    {{'GraduationRequestActions.DeclareStudent' | translate }}</button>
             </span>
        </div>
  </div>
</div>
</div>
</div>

<div class="card" *ngIf="graduateActions && graduateActions.length>0">
  <div class="card-body">
    <h4 class="card-title" [translate]="'GraduationRequestActions.GraduationInfo'"></h4>
    <div>
      <div class="flex-column" *ngFor="let graduateAction of graduateActions">
        <div class="form-group row">
          <div class="col-3">
            <span class="text-secondary" [translate]="'Students.AcademicYear'"></span>
          </div>
          <div class="col-3">
            <span class="text-dark">{{ graduateAction.graduationYear?.alternateName}}</span>
          </div>
          <div class="col-3">
            <span class="text-secondary" [translate]="'Students.AcademicPeriod'"></span>
          </div>
          <div class="col-3">
            <span class="text-dark">{{'Periods.' + graduateAction.graduationPeriod?.alternateName | translate}}</span>
          </div>
        </div>
        <div class="form-group row pb-4">
          <div class="col-3">
            <span class="text-secondary" [translate]="'Students.GraduationGrade'"></span>
          </div>
          <div class="col-3">
            <h6 class="text-dark">{{ graduateAction.graduationGradeAdjusted}}</h6>
          </div>
        </div>
        <div class="text-right"
             *ngIf="graduateAction.actionStatus && graduateAction.actionStatus.alternateName === 'ActiveActionStatus' && allowDeclare">
         <span class="pl-5">
                  <button type="button" class="btn btn-warning"
                          (click)="changeGraduateActionStatus(graduateAction,'CancelledActionStatus')">
                    {{'GraduationRequestActions.CancelGraduateStudent' | translate }}</button>
              <span class="pl-3"></span>
              <button type="button" class="btn btn-indigo"
                      (click)="changeGraduateActionStatus(graduateAction,'CompletedActionStatus')">
                    {{'GraduationRequestActions.GraduateStudent' | translate }}</button>
             </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" *ngIf="data && data.graduationEvent && !loading">
  <div class="card-body">
    <h4 class="card-title" [translate]="'GraduationRequestActions.GraduationRules'"></h4>
    <div *ngIf="!loading" [ngClass]="{'text-primary': !graduationRule, 'text-success': graduationRule}">
      {{(graduationRule ? 'GraduationRequestActions.Success' : 'GraduationRequestActions.Warning') | translate}}
    </div>
    <div *ngIf="graduationDegree">

      <div class="form-group row pt-3">
        <div class="col-3">
          <span class="text-secondary" [translate]="'Students.GraduationGrade'"></span>
        </div>
        <div class="col-9">
          <h5 class="text-success">{{ graduationDegree.formattedGrade}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" *ngIf="data && data.graduationEvent && !loading">


  <div class="card-body">
    <h4 class="card-title" [translate]="'GraduationRequestActions.RequiredDocuments'"></h4>

    <div id="group-list" class="flex-column"
         *ngIf="data.graduationEvent.attachmentTypes && data.graduationEvent.attachmentTypes.length > 0">
      <div *ngIf="!loading && requiredAttachmentRule" class="text-success">
        {{'Documents.Success' | translate}}
      </div>
      <div *ngIf="!loading && !requiredAttachmentRule" class="alert alert-warning alert-dismissible shadow fade show">
        <div [translate]="'Documents.Warning'"></div>
        <div [translate]="'GraduationRequestActions.RequiredDocumentsMessage'"></div>
      </div>
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_sm_column text-left" [translate]="'Students.Date'"></div>
            <div class="sis--list-group-item_md_column d-none d-md-block px-4 text-left"
                 [translate]="'Students.Title'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-center"
                 [translate]="'GraduationRequestActions.Submitted'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-left"></div>
            <div class="sis--list-group-item_sm_column text-left"></div>
            `
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let attachmentType of data.graduationEvent.attachmentTypes">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div
              class="sis--list-group-item_sm_column text-left">{{ attachmentType.attachment?.dateModified | date:'short' || '-'}}</div>
            <div
              class="sis--list-group-item_md_column d-none d-md-block text-secondary text-truncate px-4 text-left">{{attachmentType.attachmentType.name}}</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-secondary text-left">
              <span *ngIf="attachmentType.attachment"><i
                class="fa fa-2x fa-check text-success align-self-center"></i></span>

              <span *ngIf="!attachmentType.attachment"><i *ngIf="!attachmentType.attachmentType.physical"
                                                          class="fa fa-2x fa-hourglass-half text-warning pr-1 align-self-center"></i>

              </span>
            </div>
            <div class="sis--list-group-item_sm_column d-none d-md-block align-self-center">
              <span *ngIf="attachmentType.attachment && !attachmentType.attachmentType.physical">
              <a class="font-sm" href="javascript:void(0)" (click)="downloadFile(attachmentType.attachment)">  <i
                class="pl-2 fas fa-2x fa-file-download text-indigo"></i></a>
              </span>
            </div>

            <div class="sis--list-group-item_sm_column d-none d-md-block text-right"
                 *ngIf="data.actionStatus && data.actionStatus.alternateName === 'ActiveActionStatus'">
              <span *ngIf="attachmentType.attachment && !attachmentType.attachmentType.physical" class="pl-5">
                    <button type="button" class="btn btn-indigo" *ngIf="attachmentType.attachment.actions.length ===0
                || (attachmentType.attachment.actions.length >0 && attachmentType.attachment.actions[0].actionStatus.alternateName!=='CompletedActionStatus')"
                            (click)="changeAttachmentStatus(attachmentType.attachment,'CompletedActionStatus')">
                      {{'Requests.Edit.accept' | translate }}</button>
                    <button type="button" class="btn btn-light"
                            *ngIf="(attachmentType.attachment.actions.length >0 && attachmentType.attachment.actions[0].actionStatus.alternateName==='CompletedActionStatus')"
                            (click)="changeAttachmentStatus(attachmentType.attachment,'CancelledActionStatus')">
                                  {{'Requests.Edit.reject' | translate }}</button>

               </span>
              <span *ngIf="attachmentType.attachmentType.physical">
                  <i *ngIf="!attachmentType.attachment"
                     class="">  <button type="button" class="btn btn-indigo"
                                        (click)="addVirtualAttachment(attachmentType)">
                      {{'Documents.HasSubmitted' | translate}}</button> </i>
                  <i *ngIf="attachmentType.attachment"
                     class="">  <button type="button" class="btn btn-light"
                                        (click)="removeVirtualAttachment(attachmentType)">
                {{'Requests.Edit.reject' | translate }}</button> </i>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="form-group row" *ngIf="data.graduationEvent.attachmentTypes.length===0">
      <div class="col-12 pt-3">
        <span class="text-secondary" [translate]="'GraduationRequestActions.NoRequiredDocuments'"> </span>
      </div>
    </div>
  </div>
</div>
<div class="card" *ngIf="graduateActions && graduateActions.length>0">
  <div class="card-body">
    <h4 class="card-title" [translate]="'Documents.RelatedRequests'"></h4>
    <div class="col-12 mb-4">
      <app-advanced-table #requests [scrollX]="false" [scrollY]="false"
                          [scrollable]="false" [showFooter]="false"></app-advanced-table>
    </div>
  </div>
</div>

</div>
<div *ngIf="data && data.actionStatus.alternateName ==='PotentialActionStatus'">
  <div class="alert alert-warning alert-dismissible shadow fade show">
    <div [translate]="'GraduationRequestActions.NotAvailable'"></div>
  </div>
</div>
