<div *ngIf="model">
  <div class="card" *ngIf=" model?.length > 0">
    <div class="card-body ">
      <div>
  <!--      <a href="/#/courses/{{this.courseId}}/dashboard/study-programs"  class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span [translate]="'Expandable.More'"></span></a>-->
        <div class="row">
          <h5 [translate]="'StudyPrograms.TitlePlural'" class="mr-3 my-auto"></h5>

        </div>
      </div>
      <div id="group-list"  class="flex-column">
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'StudyPrograms.Abbreviation'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block px-4" [translate]="'StudyPrograms.Title'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'StudyPrograms.Semesters'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'StudyPrograms.StudyLevel'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'StudyPrograms.Status'"></div>
              <div class="sis--list-group-item_sm_column text-left"></div>`
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <li class="sis--list-group-item" *ngFor="let studyProgram of model">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_sm_column d-none d-md-block "><span class="text-dark">{{ studyProgram?.abbreviation }}</span></div>
              <div *ngIf="studyProgram?.name != null" class="sis--list-group-item_sm_column d-none d-xl-block"><span class="text-secondary">{{ studyProgram?.name}}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="text-secondary">{{ studyProgram?.semesters}}</span></div>
              <div *ngIf="studyProgram?.studyLevel?.alternateName != null" class="sis--list-group-item_sm_column d-none d-xl-block"><span class="text-secondary">{{'StudyLevels.' + studyProgram?.studyLevel?.alternateName | translate}}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="text-secondary">{{'StudyPrograms.isActive.' + studyProgram?.isActive | translate}}</span></div>
              <div class="sis--list-group-item_sm_column text-right">
                <a href="/#/study-programs/{{studyProgram.id}}/preview/general" class="text-primary text-decoration-none"
                   [translate]="'Departments.View'"></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-4 mb-3 text-left text-gray-600 font-xs" *ngIf="model.length == 1; else MorePrograms">
        <span>{{ model.length}} <span  [translate]="'StudyPrograms.Title'"></span></span>
      </div>
      <ng-template #MorePrograms>
        <div class="mt-4 mb-3 text-left text-gray-600 font-xs">
          <span>{{ model.length}} <span  [translate]="'Courses.StudyPrograms'"></span></span>
        </div>
      </ng-template>
    </div>
  </div>
  <div  *ngIf="model?.length == 0">
    <div class="card">
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 class="mr-3  my-auto" [translate]="'Courses.StudyPrograms'"></h5>
<!--        <a href="#/courses/{{this.courseId}}/dashboard/study-programs" class="text-primary  align-self-center mb-2 float-right ml-auto my-auto" [translate]="'Expandable.More'"></a>-->
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="card-text row pb-2">
          <div class="col-auto text-dark pl-3">
            <span [translate]="'Courses.NoStudyPrograms'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
