<div *ngIf="student">
  <div class="font-xl text-secondary pt-2 pb-2" [translate]="'Students.Rules'"></div>
     <universis-graduation-progress [student]="student"></universis-graduation-progress>
 </div>
