<div>
  <h4 class="mb-3">FormIO Textfield</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioTextfieldConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioTextfieldConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO Email field</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioEmailConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioEmailConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO Number</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioNumberConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioNumberConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO Phone Number</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioPhoneNumberConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioPhoneNumberConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO Date picker</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioDateConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioDateConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO Radio Buttons</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioRadioConfig['object']"></formio>
    </div>
  </div>
</div>
 
<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioRadioConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO Checkbox</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioCheckboxConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioCheckboxConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO Basic Html5 dropdown list</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioSelectHtml5Config['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioSelectHtml5Config['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO dropdown list with search field using ChoiceJS</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioSelectChoicesJSConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioSelectChoicesJSConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO Tooltip</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioTooltipConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioTooltipConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO description for an element</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioDescriptionConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioDescriptionConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO Layout Columns</h4>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <formio #form [form]="formioLayoutColumnsConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioLayoutColumnsConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO Layout Fieldsets</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioLayoutFieldsetConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioLayoutFieldsetConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO Tabs</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioLayoutTabConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioLayoutTabConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO Required validation</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidationSimpleConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioValidationSimpleConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO Number Validation</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidationNumberConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioValidationNumberConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO min-max Number Validation</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidationMinMaxNumberConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioValidationMinMaxNumberConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO masking input</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidationMaskNumberConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioValidationMaskNumberConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO validation using regular expressions</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidationRegExpConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioValidationRegExpConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO custom validation</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidationCustomConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioValidationCustomConfig['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO disabled for input</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioValidateDisabledInput['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioValidateDisabledInput['txt']"></app-highlight-include>
  </div>
</div>

<div>
  <h4 class="mb-3">FormIO styling custom css class</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <formio #form [form]="formioStyleCustomClassConfig['object']"></formio>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-lg-12">
    <app-highlight-include [highlight]="formioStyleCustomClassConfig['txt']"></app-highlight-include>
  </div>
</div>
