<div *ngIf="model">
  <div class="row mt-4" *ngFor="let student of model.students;index as i;">
    <div class="col-lg-12 col-md-6 col-sm-12">
      <form-collapsible [collapsed]="false">
        <form-header>
          <span class="text-gray-600 font-xs my-auto d-inline-block" >{{student.student.person.givenName}} {{student.student.person.familyName}}</span>
        </form-header>
        <form-body>
          <app-theses-dashboard-grades-students-form [student]="student"></app-theses-dashboard-grades-students-form>
          <app-theses-dashboard-grades-instructors-form [grades]="student.results" [editMode]="editMode"></app-theses-dashboard-grades-instructors-form>
        </form-body>
      </form-collapsible>
    </div>
  </div>
  <div class="row" *ngIf = "false">
    <button type="button" class="btn btn-secondary\" [disabled]="!editable && !editMode">Edit</button>
    <button type="button" class="btn btn-primary" [disabled]="!editable">Submit</button>
  </div>
</div>
