<form  class="mt-2 collapsible-form">
    <div class="row">
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="status" [translate]="'Students.Status'"></label>
                <input [ngClass]="model.status?.alternateName === 'open'? 'text-success' :
                        model.status?.alternateName === 'closed'? 'text-danger' :
                        model.status?.alternateName === 'pending'? 'text-color-theme' : 'text-dark'"
                       [disabled]="true" class="form-control bg-white" id="status" name="status" type="text"
                       [value]="'RegistrationStatus.'+ model.status.alternateName | translate">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="registrationDate" [translate]="'Students.SubmitDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="registrationDate" name="registrationDate" type="text" [value]="model.registrationDate | date:'shortDate'">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="registrationModifiedDate" [translate]="'Students.ModifiedDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="registrationModifiedDate" name="registrationModifiedDate" type="text" [value]="model.registrationModifiedDate | date:'shortDate'">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="description" [translate]="'Students.AcademicYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="description" name="description" type="text" [value]="model.registrationYear.alternateName">
            </div>
        </div>
    </div>
</form>
