<div class="row">
    <div class="col-sm-12">
        <div id="advanced-form">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
                        <div class="form-group col-6">
                            <label class="pr-3" for="courseName" [translate]="'Courses.name'"></label>
                            <input [(ngModel)]="filter.name" spellcheck="false" type="text" id="courseName"
                                name="courseName" class="form-control col text-left"
                                placeholder="{{ 'Courses.name' | translate }}">
                        </div>
                        <div class="form-group col-6">
                            <label class="pr-3" for="courseArea" [translate]="'Courses.courseArea'">Student</label>
                            <input [(ngModel)]="filter.courseAreaName" spellcheck="false" type="text" id="courseArea" name="courseArea"
                                class="form-control col text-left" placeholder="{{ 'Courses.courseArea' | translate }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">
                        <div class="form-group col-6">
                            <div class="d-flex flex-row w-100">
                                <label class="pr-3" for="selectBox" [translate]="'Courses.IsEnabledLabel'"></label>
                                <select id="selectBox" class="custom-select flex-grow-1" [(ngModel)]="filter.isEnabled">
                                    <option [value]="undefined" [translate]="'Courses.Choose'"></option>
                                    <option [value]="0" [translate]="'Courses.IsEnabled.0'"></option>
                                    <option [value]="1" [translate]="'Courses.IsEnabled.1'"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <div class="d-flex flex-row w-100">
                                <label class="pr-3" for="courseSector" [translate]="'Courses.courseSector'"></label>
                                <input [(ngModel)]="filter.courseSectorName" spellcheck="false" type="text" id="courseSector"
                                    name="courseSector" class="form-control col text-left"
                                    placeholder="{{ 'Courses.courseSector' | translate }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
